---
layout: default.hbs
subject: Thank you for your Miracle Message
---
<span class="preheader">Thank you for your Miracle Message</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="https://miraclemessages.org"><img src="https://firebasestorage.googleapis.com/v0/b/miraclemessages-2dda1.appspot.com/o/publicAssets%2Fmm_logo_email_retina.png?alt=media&token=5c884f94-8432-4e6f-a9a2-7f16ea3ad848" height="50" alt="Mailgun"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            {{> notice type='success' text='Thank you for your submission!' }}

            <p>Your miracle message has been received and has been sent over to our volunteers to help start the search.</p>
            {{> divider }}
            <p>Now, <strong>we need your help</strong> to help reach out to the potential loved ones, track the progress of the case, and (hopefully) help facilitate the reunion! </p>
            <p>There's lots of people here to help! Here are a few simple next steps:</p>
            <p>1. Go to our Facebook group for volunteer detectives. Scroll down until you find your message, which should be auto-posted on the date you recorded it. Introduce yourself in the comments, and follow-up on any posted leads!</p>

            <p>2. No leads? No problem! Help out with the detective work yourself. Use Facebook, <a href="http://premium.whitepages.com/">WhitePages Premium</a> (<a href="https://docs.google.com/spreadsheets/d/1Lnd7vC9KuGWKdZelWWvT2ave08zc0rfyqZa67pS1EiM/edit?usp=sharing">login details here</a>), and other search tools to try to find the loved ones. As you've met the client in-person, you are the best person to reach out to loved ones on his/her behalf. </p>

            <p>3. If you are helping out with detective work and/or following-up with leads, go to our database on Airtable to view or edit case updates: <a href="https://airtable.com/invite/l?inviteId=inv6t1oqN1cuynq2Z&inviteToken=3a439ccbb090872fcfbaaf6678861932">go to Airtable</a></p>

            <p>4. If possible, please try to meet with the homeless individual again within 1 week of your initial recording session to share case updates and check-in.</p>

            <p>5. If you get stuck or have any questions, feel free to post in the volunteer detectives' <a href="http://facebook.com/groups/miraclemsg">Facebook group</a>, or email us at <a href="mailto:hello@miraclemessages.org">hello@miraclemessages.org</a>.</p>
            
            {{> divider }}

            <p>Thanks and please keep us posted on your case's progress!</p>

            <p>Jess and the Miracle Messages team</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p><a href="http://miraclemessages.org">Miracle Messages</a></p>
      </td>
    </tr>
  </table>
</div>
