---
layout: default.hbs
subject: New case from John Doe currently in San Francisco, California (US)
---
<span class="preheader">New case on My Miracle Messages from John Doe currently in San Francisco, California (US)</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="https://my.miraclemessages.org"><img src="https://firebasestorage.googleapis.com/v0/b/miraclemessages-2dda1.appspot.com/o/publicAssets%2Fmm_logo_email_retina.png?alt=media&token=5c884f94-8432-4e6f-a9a2-7f16ea3ad848" height="51" alt="Mailgun"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>There's a new case on My Miracle Messages from John Doe currently in San Francisco, California (US).</p>

            <p>Help us reunite them with their loved ones!</p>
            {{> button type='secondary' align='center' url='https:/my.miraclemessages.org/#!/cases' title='Watch the video' }}
            {{> button type='primary' align='center' url='https:/my.miraclemessages.org/#!/cases' title='Join the case' }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p><a href="http://miraclemessages.org">Miracle Messages</a></p>
      </td>
    </tr>
  </table>
</div>
